# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
*.egg-info/

# Database files
*.sqlite3

# Log files
*.log

# IDE configurations
.idea/
.vscode/

# Environment variables
.env

# Static and media files
staticfiles/
media/

# Backup files
*.bak
*.swp
